<% content_for :bundle_css do %>
  <%= stylesheet_bundle_tag 'home/index' %>
<% end %>

<% content_for :bundle_js do %>
  <%= javascript_bundle_tag 'home/index' %>
<% end %>

<div id="app"></div>
<div class="img1"></div>
<div class="img2"></div>

<%= image_bundle_tag 'img/test.jpg' %>