<% content_for :bundle_css do %>
  <%= stylesheet_bundle_tag 'home/index' %>
<% end %>

<% content_for :bundle_js do %>
  <%= javascript_bundle_tag 'home/index' %>
<% end %>

<div class="container">
  <div class="box-title">
    <h1 id="title"></h1>
  </div>
  <div class="box-images">
    <div class="img-rails"></div>
    <div class="img-webpack"></div>
  </div>
  <div id="vue-app" class="box-vue">
    <hello-vue />
  </div>
</div>
