<div id="app"></div>
<div class="img1"></div>
<div class="img2"></div>

<%= image_bundle_tag 'img/test.jpg' %>
<%= stylesheet_bundle_tag 'application' %>
<%= javascript_bundle_tag 'application' %>
<%= javascript_bundle_tag 'home/index' %>