.container {
  .box-images {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-rails {
      width: 400px;
      height: 200px;
      background-image: url("~@image/rails-logo.svg");
      background-repeat: no-repeat;
    }
  }
}
